*.[oas]
*.mod
config.status
config.log
examples/RMI
examples/TCI
examples/betadisk1d
examples/bindisk
examples/disk
examples/hdf5
examples/kepdisk
examples/markward
examples/netcdf
examples/nonkepdisk
examples/planeteu
examples/poiseuille
examples/poiseuille2
examples/selfsimdisk1d
examples/shearingbox
examples/tcv
examples/ttauridisk
examples/wind3d
tests/KHI
tests/RTI
tests/bondi2d
tests/bondi3d
tests/collapse
tests/couette
tests/gauss2d
tests/gauss3d
tests/noh2d
tests/noh3d
tests/pringle
tests/riemann1d
tests/riemann2d
tests/riemann3d
tests/sedov2d
tests/sedov3d
tests/vortex2d
tests/vortex3d
*.dep
*.py~
*.pyc
*.pvd
*.vts
*.nc
*.log
*.swp
*.so
*.npy
*.dat
*.bin
*.in
!doc/Doxyfile.in
*~
build*
autom4te.cache
Makefile
build/
aclocal.m4
compile
config.guess
configure
install-sh
missing
test-driver
tap-driver.sh
